<div class="my-3">

  <div class="my-2">
    <div class="col offset-11">
        <button class="btn btn-success" (click)="abrirModal(template)" >Nuevo</button>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Clase</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
            </tr>
          </tbody>
        </table>
    </div>

  </div>  
      
</div>


<ng-template #template>

  <div class="modal-header">
    <h4 class="title modal-title pull-left">Alta Cliente</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="altaClienteModal.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <!-- <app-altacliente (respuesta)="altaCliente($event)" [operacion]="'Nuevo'"></app-altacliente> -->
  </div>
  
  <p-messages [(value)]="msgs"></p-messages>


</ng-template>